{layout="site/_main-layout"}
<main>
    <div class="container mt-1 mb-5">
        <br>
        {exp:channel:entries channel="blog" limit="1"}
            {layout:set name='title'}{title}{/layout:set}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{path='SITE_INDEX'}">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {title}
                    </li>
                </ol>
            </nav>
            <div class="card mt-3">
                <div class="card-header">
                    <h3>{title}</h3>
                    Posted: {entry_date format="%M %d, %Y"}
                    By: {author}
                </div>
                <div class="card-body">
                    {post}
                    <br>
                </div>
            </div>
        {/exp:channel:entries}
        <br>
        <div class="card">
            <div class="card-header">Comments</div>
            <div class="card-body">
                {exp:comment:entries limit="20"}
                    <div class="card">
                        <div class="card-body">
                            {comment}
                        </div>
                        <div class="card-footer">
                            <p>By {name} on {comment_date format="%Y %m %d"}</p>
                        </div>
                    </div>
                    <br>
                {/exp:comment:entries}
                {exp:comment:form channel="blog" preview="channel/preview"}
                    <div class="card">
                        <div class="card-header">
                            <h5>Leave a comment</h5>
                        </div>
                        <div class="card-body">
                            {if logged_out}
                                <label for="name">Name:</label> <input type="text" class="form-control" name="name" value="{name}" size="50" /><br />
                                <label for="email">Email:</label> <input type="text" class="form-control" name="email" value="{email}" size="50" /><br />
                                <label for="location">Location:</label> <input type="text" class="form-control" name="location" value="{location}" size="50" /><br />
                                <label for="url">URL:</label> <input type="text" class="form-control" name="url" value="{url}" size="50" /><br />
                            {/if}
        
                            <label for="comment">Comment:</label><br />
                            <textarea name="comment" class="form-control" cols="40" rows="5">{comment}</textarea>

                            <br>
                            <label><input type="checkbox" name="save_info" value="yes" {save_info} /> Remember my personal information</label><br />
                            <label><input type="checkbox" name="notify_me" value="yes" {notify_me} /> Notify me of follow-up comments?</label><br />
            
                            {if captcha}
                                <label for="captcha">Enter the word you see in the image below:</label><br />
                                <p>{captcha}<br />
                                <input type="text" name="captcha" value="{captcha_word}" maxlength="20" /></p>
                            {/if}
            
                            <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
                        </div>
                    </div>
                {/exp:comment:form}
            </div>
        </div>
    </div>
</main>

